body{
    margin: 0 auto;
    padding: 0;
}
.header_top{
    display: flex;
    margin: 14px 25px 0px;
    gap: 30px;
}
.form{
     margin-left: 56px;
}
#search{
    width: 670px;
    height: 48px;
    background: #F8FAFD;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    outline: 0;
    padding: 17px 48px;
}
.search-icon{
    position: absolute;
    padding: 13px 12px 0px; 
    cursor: pointer;
}
#mode{
    margin-left: 105px;
    border: none;
    background-color: transparent;
}
#logout{
    background: #0D75FF;
    border-radius: 4px;
    color: #fff;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: none;
    width: 99px;
    height: 40px;
}
#logout:hover{
    background: #fff;
    color: #0D75FF;
    border: 1px solid #0D75FF;
}

.header_bottom{
    display: flex;
    margin: 20px 0px;
}
.result_text{
    margin-left: 356px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #222531;
}
#order{
    width: 165px;
    height: 34px;
    margin-left: 686px;
    background: #A6B0C3;
    border-radius: 4px;
    border: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#order img{
    margin-left: -16px;
    padding: 5px 10px 5px;
}
#order:hover{
    background-color: #666;
    color: #A6B0C3;
    border: 1px solid #A6B0C3;
}

.bookmarks{
    display: flex;
}
.block{
    width: 268px;
    height: 1038px;
}
.block_name{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 25px 25px 0px;
}
.block_text{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 155.6%;
    color: #000000;
    margin-left: 25px;
}
/* card */
.card{
    width: 282px;
    height: 431px;
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}
.div_img{
    width: 249px;
    height: 238px;
    margin: 13px 18px 0px;
    background: #F8FAFD;
    border-radius: 5px;
}
#card_img{
    width: 201px;
    height: 202px;
    margin: 18px 20px 0px;
}
#card_name{
    padding: 19px 21px 0px;
}
.span{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #757881;
    padding-left: 21px;
}
#data{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #757881;
    padding-left: 21px;
}
.card_button{
    margin: 5px 21px 0px;
    gap: 6px;
}
#Bookmark{
    width: 120px;
    height: 37px;
    background: #FFD80D;
    border-radius: 4px;
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
#more_info{
    background: rgba(13, 117, 255, 0.05);
    border-radius: 4px;
    width: 120px;
    height: 37px;
    border: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #0D75FF;
}
#read{
    width: 246px;
    height: 37px;
    margin: 5px 21px 13px;
    background: #75828A;
    border-radius: 4px;
    border: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#Bookmark:hover{
    background-color: white;
    color: #FFD80D;
    border: 1px solid #FFD80D;
}
#more_info:hover{
    background-color: white;
    color: black;
    border: 1px solid #000;
}
#read:hover{
    background-color: white;
    color: #757881;
    border: 1px solid #757881;
}
.carousel{
    margin: 20px 70px;
}



.our{
    width: 268px;
    height: 800px;
    margin-top: 571px;
    background: #FFFFFF;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    padding: 20px;
}

.phyton{
    display: flex;
    width: 218px;
height: 72px;
background: #F8FAFD;
border-radius: 4px;
margin:15px 0;
}

.our__phyton{
  margin-left: 14px;
  margin-top: 10px;
}

.our__img{
  margin-top: 21px;
  margin-left: 16px;
}



.our__twoo{
  width: 991px;    
}

.carousel-control-next-icon{
  opacity: 0.1;
}

.carousel-control-prev-icon{
  opacity: 0.1;
}

.book__item-list{
  background-color: #fff;
  width: 282px;
    height: 431px;
}

.book__img-back{
  width: 249px;
  height: 238px;
  background: #F8FAFD;
  border-radius: 5px;
}


li{
    list-style: none;
}
.book__list-textyear{
color:#757881 ;
}

.book__list-text{
  color: #757881;
}

.btn-secondary{
  width: 246px;
  height: 37px;
  background: #75828A;
  border-radius: 4px;
}

.list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

